html {
  height: 100%;
  width: 100%;
}
.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.background-video video {
  object-fit: cover;
}
.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: background-animation 10s infinite;  /* Change the duration to 10 seconds */
}

@keyframes background-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.container {
  display: flex;
  flex-direction: column;
}

img {
  width: 100%;
  height: 100%;
}
.banner {
  width: 100%;
  height: 100px;
  background-color: #000;
  color: #fff;
  text-align: center;
  font-size: 30px;
}

.banner-image {
  width: 100%;
  height: 100%;
  background-image: url("banner.jpg");
  background-size: cover;
  background-position: center;
}
.banner {
  width: 100%;
  height: 100px;
  background-color: #000;
  color: #fff;
  text-align: center;
  font-size: 30px;
}

.banner-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("banner.jpg");
  background-size: cover;
  background-position: center;
}
